<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"]</title>
    <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico"/>

    <link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/plugins.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/form-login.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="~/assets/css/font.css">
    <link rel="stylesheet" type="text/css" href="~/Custome/notifications.css">

</head>
<body>
@RenderBody()
</body>


<script src="~/assets/js/libs/jquery-3.1.1.min.js"></script>
<script src="~/bootstrap/js/popper.min.js"></script>
<script src="~/bootstrap/js/bootstrap.min.js"></script>
<script src="~/Custome/notifications.js"></script>
@RenderSection("Scripts", false)
<partial name="_SiteMessages"/>
<script>
    const junk = document.querySelector(".fixed-button");
    junk.remove();
    function ShowMessage(title, text, theme) {
        window.createNotification({
            closeOnClick: true,
            displayCloseButton: false,
            positionClass: 'nfc-bottom-right',
            showDuration: 4000,
            theme: theme !== '' ? theme : 'success'
        })({
            title: title !== '' ? title : 'اعلان',
            message: decodeURI(text)
        });
    }
</script>
</html>